$isDesktop: 1380px;
$isTablet: 768px;
$isMobile: 320px;

$mainColor: #F8F8F8;
$secondColor: #FFFFFF;
$thirdColor: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
$fourthColor: #FF3E79;
$textColor: #1B1C21;
$textColorSecond: #7E7E82;
$dividerColor: #EAEAEA;
$secondDividerColor: #41F6D7;
$shadowColor: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);

$fontBold: 'TT Lakes Bold';
$fontMedium: 'TT Lakes Medium';
$fontRegular: 'TT Lakes Regular';
