.about {
  display: flex;
  width: 95%;
  margin: 0 auto;

  &__wrapper {
    margin-right: 36px;
    padding: 0;
    width: 50%;
  }

  &__info-text {
    align-self: flex-start;
    font-family: $fontRegular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-top: 0;
    margin-bottom: 13px;
    margin-left: 0;
    color: $textColor;
  }

  &__more {
    display: flex;
    align-items: center;
    row-gap: 8px;
    margin-bottom: 15px;
    font-family: $fontMedium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}
